.btn{
    margin: 0;
    color: white;
    background: orange;
}

*{
    margin: 3px;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
}

main.container{
    background: white;
    max-width: 450px;
    min-height: 50vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px;
    border-radius: 8px;
}